<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
    <dict>
        <key>Level</key>
        <integer>1</integer>
        <key>WinScore</key>
        <integer>80</integer>
		<key>1Star</key>
		<integer>90</integer>
		<key>2Star</key>
		<integer>110</integer>
		<key>3Star</key>
		<integer>130</integer>
		<key>NumWater</key>
		<integer>150</integer>
		<key>NumWood</key>
		<integer>3</integer>
		<key>NumKillThief</key>
		<integer>1</integer>
		<key>NumTarget</key>
		<integer>1</integer>
		<key>BeetPosX</key>
		<integer>100</integer>
		<key>BeetPosY</key>
		<integer>430</integer>
		<key>NumTeleport</key>
		<integer>0</integer>
		<key>TeleportInX</key>
		<integer>200</integer>
		<key>TeleportInY</key>
		<integer>300</integer>
		<key>TeleportOutX</key>
		<integer>600</integer>
		<key>TeleportOutY</key>
		<integer>200</integer>
		<key>StitchPosX</key>
		<integer>600</integer>
		<key>StitchPosY</key>
		<integer>35</integer>
		<key>TimeWater</key>
		<real>4</real>
		<key>TimeOpenBox</key>
		<real>15</real>
		<key>Targets</key>
			<array>
				<dict>
					<key>X</key>
					<real>500</real>
					<key>Y</key>
					<real>35</real>
				</dict>
			</array>
		<key>NumRock</key>
		<integer>1</integer>
		<key>Rocks</key>
			<array>
				<dict>
					<key>X</key>
					<real>250</real>
					<key>Y</key>
					<real>250</real>
					<key>TypeMove</key>
					<integer>0</integer>
					<key>DirectionX</key>
					<real>0</real>
					<key>DirectionY</key>
					<real>100</real>
					<key>Duration</key>
					<real>4</real>
				</dict>
			</array>
		<key>NumThief</key>	
		<integer>1</integer>
		<key>Thiefs</key>
			<array>
				<dict>
					<key>X</key>
					<real>450</real>
					<key>Y</key>
					<real>100</real>
					<key>Duration</key>
					<real>3</real>
					<key>DirectionX</key>
					<real>130</real>
					<key>DirectionY</key>
					<real>0</real>	
					<key>Health</key>
					<integer>1</integer>
					<key>Before</key>
					<integer>1</integer>
					<key>After</key>
					<integer>0</integer>
				</dict>	
			</array>
    </dict>
</plist>