<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
    <dict>
        <key>Level</key>
        <integer>2</integer>
        <key>WinScore</key>
        <integer>110</integer>
		<key>1Star</key>
		<integer>120</integer>
		<key>2Star</key>
		<integer>140</integer>
		<key>3Star</key>
		<integer>160</integer>
		<key>NumWater</key>
		<integer>180</integer>
		<key>NumWood</key>
		<integer>3</integer>
		<key>NumKillThief</key>
		<integer>2</integer>		
		<key>BeetPosX</key>
		<integer>100</integer>
		<key>BeetPosY</key>
		<integer>430</integer>
		<key>NumTeleport</key>
		<integer>1</integer>
		<key>TeleportInX</key>
		<integer>200</integer>
		<key>TeleportInY</key>
		<integer>150</integer>
		<key>TeleportOutX</key>
		<integer>580</integer>
		<key>TeleportOutY</key>
		<integer>310</integer>
		<key>StitchPosX</key>
		<integer>600</integer>
		<key>StitchPosY</key>
		<integer>50</integer>
		<key>TimeWater</key>
		<real>4</real>
		<key>TimeOpenBox</key>
		<real>15</real>
		<key>NumTarget</key>
		<integer>1</integer>
		<key>Targets</key>
			<array>				
				<dict>
					<key>X</key>
					<real>500</real>
					<key>Y</key>
					<real>50</real>
					<key>TypeMove</key>
					<integer>0</integer>
					<key>DirectionX</key>
					<real>0</real>
					<key>DirectionY</key>
					<real>50</real>
					<key>Duration</key>
					<real>4</real>
				</dict>
			</array>
		<key>NumRock</key>
		<integer>3</integer>
		<key>Rocks</key>
			<array>
				<dict>
					<key>X</key>
					<real>300</real>
					<key>Y</key>
					<real>180</real>
				</dict>
				<dict>
					<key>X</key>
					<real>350</real>
					<key>Y</key>
					<real>230</real>
				</dict>
				<dict>
					<key>X</key>
					<real>400</real>
					<key>Y</key>
					<real>340</real>
				</dict>
			</array>
		<key>NumThief</key>	
		<integer>4</integer>
		<key>Thiefs</key>
			<array>
				<dict>
					<key>X</key>
					<real>420</real>
					<key>Y</key>
					<real>210</real>
					<key>Duration</key>
					<real>2.5</real>
					<key>DirectionX</key>
					<real>80</real>
					<key>DirectionY</key>
					<real>0</real>	
					<key>Health</key>
					<integer>1</integer>
					<key>Before</key>
					<integer>1</integer>
					<key>After</key>
					<integer>0</integer>
				</dict>	
				<dict>
					<key>X</key>
					<real>400</real>
					<key>Y</key>
					<real>280</real>
					<key>Duration</key>
					<real>2</real>
					<key>DirectionX</key>
					<real>100</real>
					<key>DirectionY</key>
					<real>0</real>	
					<key>Health</key>
					<integer>1</integer>
					<key>Before</key>
					<integer>1</integer>
					<key>After</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>X</key>
					<real>500</real>
					<key>Y</key>
					<real>130</real>
					<key>Duration</key>
					<real>3</real>
					<key>DirectionX</key>
					<real>-130</real>
					<key>DirectionY</key>
					<real>0</real>	
					<key>Health</key>
					<integer>1</integer>
					<key>Before</key>
					<integer>0</integer>
					<key>After</key>
					<integer>1</integer>
				</dict>		
				<dict>
					<key>X</key>
					<real>580</real>
					<key>Y</key>
					<real>120</real>
					<key>Duration</key>
					<real>3.5</real>
					<key>DirectionX</key>
					<real>90</real>
					<key>DirectionY</key>
					<real>0</real>	
					<key>Health</key>
					<integer>1</integer>
					<key>Before</key>
					<integer>1</integer>
					<key>After</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>X</key>
					<real>510</real>
					<key>Y</key>
					<real>1500</real>
					<key>Duration</key>
					<real>3</real>
					<key>DirectionX</key>
					<real>130</real>
					<key>DirectionY</key>
					<real>0</real>	
					<key>Health</key>
					<integer>1</integer>
					<key>Before</key>
					<integer>1</integer>
					<key>After</key>
					<integer>0</integer>
				</dict>
			</array>
    </dict>
</plist>