<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
    <dict>
        <key>Level</key>
        <integer>1</integer>
        <key>WinScore</key>
        <integer>80</integer>
		<key>1Star</key>
		<integer>90</integer>
		<key>2Star</key>
		<integer>110</integer>
		<key>3Star</key>
		<integer>130</integer>
		<key>NumWater</key>
		<integer>150</integer>
		<key>NumWood</key>
		<integer>5</integer>
		<key>NumKillThief</key>
		<integer>1</integer>
		<key>BeetPosX</key>
		<integer>150</integer>
		<key>BeetPosY</key>
		<integer>450</integer>
		<key>NumTeleport</key>
		<integer>0</integer>
		<key>TeleportInX</key>
		<integer>200</integer>
		<key>TeleportInY</key>
		<integer>300</integer>
		<key>TeleportOutX</key>
		<integer>600</integer>
		<key>TeleportOutY</key>
		<integer>200</integer>
		<key>StitchPosX</key>
		<integer>500</integer>
		<key>StitchPosY</key>
		<integer>50</integer>
		<key>TimeWater</key>
		<real>4</real>
		<key>TimeOpenBox</key>
		<real>15</real>
		<key>NumTarget</key>
		<integer>1</integer>
		<key>Targets</key>
			<array>
				<dict>
					<key>X</key>
					<real>400</real>
					<key>Y</key>
					<real>50</real>
					<key>TypeMove</key>
					<integer>2</integer>
					<key>DirectionX</key>
					<real>150</real>
					<key>DirectionY</key>
					<real>150</real>
					<key>Duration</key>
					<real>50</real>
				</dict>
			</array>
		<key>NumRock</key>
		<integer>1</integer>
		<key>Rocks</key>
			<array>
				<dict>
					<key>X</key>
					<real>250</real>
					<key>Y</key>
					<real>200</real>
				</dict>
			</array>
		<key>NumThief</key>	
		<integer>0</integer>
		<key>Thiefs</key>
			<array>
				
			</array>
    </dict>
</plist>