<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>button_close_down.png</key>
		<dict>
			<key>x</key>
			<integer>406</integer>
			<key>y</key>
			<integer>266</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>51</integer>
			<key>originalHeight</key>
			<integer>51</integer>
		</dict>
		<key>button_close_up.png</key>
		<dict>
			<key>x</key>
			<integer>406</integer>
			<key>y</key>
			<integer>219</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>51</integer>
			<key>originalHeight</key>
			<integer>51</integer>
		</dict>
		<key>equip_1.png</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>409</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>equip_fire_1.png</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>341</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>equip_fire_2.png</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>273</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>equip_fire_3.png</key>
		<dict>
			<key>x</key>
			<integer>212</integer>
			<key>y</key>
			<integer>70</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>equip_fire_4.png</key>
		<dict>
			<key>x</key>
			<integer>280</integer>
			<key>y</key>
			<integer>138</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>equip_ice_1.png</key>
		<dict>
			<key>x</key>
			<integer>212</integer>
			<key>y</key>
			<integer>410</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>equip_ice_2.png</key>
		<dict>
			<key>x</key>
			<integer>212</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>equip_ice_3.png</key>
		<dict>
			<key>x</key>
			<integer>280</integer>
			<key>y</key>
			<integer>70</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>equip_ice_4.png</key>
		<dict>
			<key>x</key>
			<integer>212</integer>
			<key>y</key>
			<integer>274</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>equip_light_1.png</key>
		<dict>
			<key>x</key>
			<integer>212</integer>
			<key>y</key>
			<integer>138</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>equip_light_2.png</key>
		<dict>
			<key>x</key>
			<integer>212</integer>
			<key>y</key>
			<integer>206</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>equip_light_3.png</key>
		<dict>
			<key>x</key>
			<integer>280</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>equip_light_4.png</key>
		<dict>
			<key>x</key>
			<integer>212</integer>
			<key>y</key>
			<integer>342</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>gold.png</key>
		<dict>
			<key>x</key>
			<integer>406</integer>
			<key>y</key>
			<integer>313</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>29</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>29</integer>
			<key>originalHeight</key>
			<integer>29</integer>
		</dict>
		<key>jiantou.png</key>
		<dict>
			<key>x</key>
			<integer>406</integer>
			<key>y</key>
			<integer>373</integer>
			<key>width</key>
			<integer>17</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>17</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>logo_agility.png</key>
		<dict>
			<key>x</key>
			<integer>348</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>logo_city_wall.png</key>
		<dict>
			<key>x</key>
			<integer>280</integer>
			<key>y</key>
			<integer>438</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>logo_fatal_blow.png</key>
		<dict>
			<key>x</key>
			<integer>280</integer>
			<key>y</key>
			<integer>380</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>logo_fire_1.png</key>
		<dict>
			<key>x</key>
			<integer>406</integer>
			<key>y</key>
			<integer>118</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>logo_fire_2.png</key>
		<dict>
			<key>x</key>
			<integer>348</integer>
			<key>y</key>
			<integer>350</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>logo_fire_3.png</key>
		<dict>
			<key>x</key>
			<integer>280</integer>
			<key>y</key>
			<integer>322</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>logo_ice_1.png</key>
		<dict>
			<key>x</key>
			<integer>280</integer>
			<key>y</key>
			<integer>206</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>logo_ice_2.png</key>
		<dict>
			<key>x</key>
			<integer>406</integer>
			<key>y</key>
			<integer>60</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>logo_ice_3.png</key>
		<dict>
			<key>x</key>
			<integer>348</integer>
			<key>y</key>
			<integer>60</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>logo_magic_tower.png</key>
		<dict>
			<key>x</key>
			<integer>348</integer>
			<key>y</key>
			<integer>118</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>logo_multi_arrows.png</key>
		<dict>
			<key>x</key>
			<integer>280</integer>
			<key>y</key>
			<integer>264</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>logo_power_shot.png</key>
		<dict>
			<key>x</key>
			<integer>348</integer>
			<key>y</key>
			<integer>234</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>logo_strength.png</key>
		<dict>
			<key>x</key>
			<integer>348</integer>
			<key>y</key>
			<integer>292</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>logo_weapon_bg.png</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>197</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>75</integer>
			<key>originalHeight</key>
			<integer>75</integer>
		</dict>
		<key>logo_wind_1.png</key>
		<dict>
			<key>x</key>
			<integer>348</integer>
			<key>y</key>
			<integer>408</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>logo_wind_2.png</key>
		<dict>
			<key>x</key>
			<integer>406</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>logo_wind_3.png</key>
		<dict>
			<key>x</key>
			<integer>348</integer>
			<key>y</key>
			<integer>176</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>paging_button_down.png</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>73</integer>
			<key>width</key>
			<integer>170</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>paging_button_up.png</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>135</integer>
			<key>width</key>
			<integer>170</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>shop_button_bg.png</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>208</integer>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>208</integer>
			<key>originalHeight</key>
			<integer>69</integer>
		</dict>
		<key>shugun.png</key>
		<dict>
			<key>x</key>
			<integer>464</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>6</integer>
			<key>height</key>
			<integer>335</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>6</integer>
			<key>originalHeight</key>
			<integer>335</integer>
		</dict>
		<key>stone.png</key>
		<dict>
			<key>x</key>
			<integer>406</integer>
			<key>y</key>
			<integer>344</integer>
			<key>width</key>
			<integer>29</integer>
			<key>height</key>
			<integer>27</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>29</integer>
			<key>originalHeight</key>
			<integer>29</integer>
		</dict>
		<key>vip.png</key>
		<dict>
			<key>x</key>
			<integer>406</integer>
			<key>y</key>
			<integer>176</integer>
			<key>width</key>
			<integer>52</integer>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>57</integer>
			<key>originalHeight</key>
			<integer>47</integer>
		</dict>
	</dict>
</dict>
</plist>